{% extends "base.html"%}


{% block title %}Main Page{% endblock title %}


{% block main_content %}


{% include "inc_welcome_description.html"%}

 <div>
     <table class="w3-table-all notranslate">
         <h2>Choose what course do you want to join</h2>
         <tbody>
         <tr>
             <th style="width:20%">Courses</th>
             <th align="center">Short description</th>
         </tr>
         {% for course in courses_list %}
         <tr>
             <td>
                 <a href="courses_main_page.http" >{{ course.name }}</a>
             </td>
             <td>{{ course.short_description }}</td>
         </tr>
         {% endfor %}

         </tbody>

     </table>
 </div>

{% endblock main_content %}